.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules/
dist/
.env
storage/
coverage/
.#*
.jupyter
.local
.ipython
.cache
.bash_history
.ipynb_checkpoints
*.pdf
*.jpg
*.png
*.djvu

